@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');
:root{
   --dargreen:#02350e;
   --black:#0b0101;
   --lityy:#f9dfe9;
   --whiteeee:#ffffff;
   --light-bg:#f5f5f5;
   --light-color:#070707;
   --border:.1rem solid var(--light-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}



*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear; 
}

::-webkit-scrollbar{
   width: 1rem;
   height: .3rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--dargreen);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7.5rem;
}

body{
   background: var(--light-bg);
   overflow-x: hidden;
}


section{
   padding:2rem;
   margin:0 auto;
   max-width: 1200px;
}

.heading{
   text-align: center;
   margin-bottom: 2rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
}
.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 2rem;
   color:var(--lityy);
   background-color: var(--dargreen);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center; 
   font-family: inherit;
   outline: 0;
}

.text{
   opacity: 0.8;
}

.btn:hover{
   background-color:var(--black);
}

.header{
   position: fixed;
   top:0; left:0; right:0;
   background-color: var(--lityy);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
  
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
   width: 30%;
   height: 50px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.2rem;
  color:var(--black);
  font-weight: bold;
  
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--dargreen);
}

.header .flex .icons div{
   font-size: 2.5rem;
   color:var(--light-color);
   cursor: pointer;
   margin-left: 1.7rem;
}

.header .flex .icons div:hover{
   color:var(--dargreen);
}
 
.header .flex .icons div span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}

.icons {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   gap: 5px;
}


.text{
    opacity: 0.8;
}

.title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}


@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}





@keyframes fadeLeft{
   0%{
      transform: translateX(5rem);
   }

}

@keyframes fadeRight{
   0%{
      transform: translateX(-5rem);
   }
}

.home-bg .home {
   margin-top: 12rem;
   display: flex;
   flex:1 1 40rem;
   animation: fadeRight .4s linear;
   width: 100%;
   
}

.home-bg .home.content{
   flex:1 1 40rem;
   text-align: center;
   animation: fadeLeft .4s linear;
}

.home-bg .home .content h3{
   color:var(--lityy);
   margin-bottom: 3rem;
   text-transform: capitalize;
   font-size: 7.5rem;
   text-shadow: var(--box-shadow);
   line-height: 1;
   text-align: center;
}



.menu .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.menu .box-container .box{
   background-color: var(--whiteeee);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   position: relative;
}

.menu .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.menu .box-container .box .CAL{
   background-color: var(--black);
   border-radius: .5rem;
   padding:.5rem 1rem;
   font-size: 1.7rem;
   color:var(--lityy);
   position:absolute;
   top:1rem; right:1rem;
}

.menu .box-container .box .code{
   background-color: var(--black);
   border-radius: .5rem;
   padding:.5rem 1rem;
   font-size: 1.7rem;
   color:var(--lityy);
   position:absolute;
   top:1rem; left:1rem;
}
.menu .box-container .box h3{
   font-size:2.5rem;
   font-weight: bold;
   color: #02350e;
   }

.menu .box-container .box .name{
   font-size: 2.5rem;
   color:var(--black);
   margin:.5rem 0;
   font-weight: bold;

}
.menu .box button{
background: linear-gradient(90deg, rgb(117, 114, 114), rgb(140, 140, 140));
}


.popover-body {
   font-size: 20px; 
 }
 
.order {
   
   align-items: center;
   
   background-color: var(--lityy);
   padding:2rem;
   border-radius: .5rem;
}

.order  .display-orders{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 2rem;
   gap:1.5rem;
   flex-wrap: wrap;
   padding:3rem 2rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
}

.order  .display-orders h1{
   font-size: 4rem;
   
   color:black;
   background-color: var(--lityy);
   padding:1rem 3rem;
   border-radius: .5rem;
   justify-content: center;
}
.order a{
   font-size: 2rem;
   border: 3px, solid !important;
   border-radius: 5px; 

    
}


.order  .display-orders ul
{padding-left: 20px;
   font-size: 2rem;
   }

.order.display-orders li
{
   margin-bottom: 10px;}





.Services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.Services .box-container .box{
   background-color: var(--lityy);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
}

.Services .box-container .box img{
   width: 100%;
   margin-bottom: 2rem;
}

.Services .box-container .box h3{
   font-size: 3rem;
   color:var(--black);
}

.Services .box-container .box p{
   padding:1rem 0;
   line-height: 2;
   font-size: 2rem;
   color:black;
}

.Services h1 {
   
   background-color: #f9dfe9;   }





/* FAQ section styling */
.faq {
   padding: 20px;
   background-color: var(--lityy);
   border-radius: 8px;
   max-width: 800px;
   margin: 20px auto;
}

.faq h1.heading {
   font-size: 4rem;
   font-weight: bold;
   margin-bottom: 20px;
   color: #020e08;
}


.accordion-button {
   background-color:var(--lityy)!important; 
   color: #000000 !important;
   box-shadow: none !important; 

}
.accordion-body {
   background-color: #ffffff !important; 
   color: #000000 !important; 
   font-size: 1.7rem;
}

.accordion-button:hover {
   background-color: #ffffff !important; 
   border-color: #ffffff !important; 
   color: #000000 !important; 
}

.accordion-button:focus {
   box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) !important; 
   outline: none !important;
   background-color: #ffffff !important;
   border-color: #ffffff !important;
   color: #000000 !important;
}


.accordion-button:active {
   background-color: #ffffff !important; 
   color: #000000 !important; 
   box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) !important;
}


.accordion-button[aria-expanded="true"] {
   background-color: #ffffff !important;
   color: #000000 !important; 
   box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) !important; 
}

.accordion-header button {
   font-size: 30px;
   color: #000000 !important;
}


.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.footer .box-container .box{
   padding:2rem;
   text-align: center;
   background-color: var(--lityy);
   box-shadow: var(--box-shadow);
   border-radius: 1rem;
   padding: 20px;
   background-color: var(--lityy);
   border-radius: 8px;
   width: 90%;
   margin: 20px auto;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   line-height: 6rem;
   font-size: 2rem;
   color:var(--lityy);
   background-color: var(--dargreen);
   border-radius: 50%;
}

.footer .box-container .box h3{
   margin:1rem 0;
   color:var(--black);
   text-transform: capitalize;
   font-size: 2.5rem;
}

.footer .box-container .box p{
   font-size: 1.6rem;
   color:var(--light-color);
}

.footer .end{
   text-align: center;
   margin-top: 3rem;
   padding:1rem 0;
   padding-top: 3rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--black);
    padding-bottom: 1rem;
}
.footer .end .icon-style {
   color: black; 
}


/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }
   
}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--lityy);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }


   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .home-bg .home .slide-container .slide .content h3{
     font-size: 4rem;
   }

   .order form .flex .inputBox{
      width: 100%;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }


   .about .box-container{
      grid-template-columns: 1fr;
   }

   .menu .box-container{
      grid-template-columns: 1fr;
   }
   
}


@media (max-width: 767.98px) {
   .faq {
       padding: 15px;
   }
   
   .faq .heading {
       font-size: 1.5rem;
   }
   
   .accordion-button {
       font-size: 0.875rem;
       padding: 8px 12px;
   }
   
   .accordion-body {
       font-size: 0.875rem;
   }
}

.About{
   padding: 20px;
   background-color: var(--lityy);
   border-radius: 8px;
   max-width: 800px;
   margin: 20px auto;
}
.About .box-container{
   display: flex;
   
   /*زر الواتس*/
   align-items: flex-start;
   justify-content: center;
}


 
.About  img{
   width: 25%;
   height:25%;
   place-items: center;
   
   
}


.About .box-container p{
   padding:1rem 0;
   line-height: 2;
   font-size: 2rem;
   color:black;

}
